html, body {
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.cover {
  height: 100%;
  background-color:#5D6170;
}

.title {
  height: 10%;
  display: flex;
  align-items:center
}
.display {
  height: 20%
}
.press {
  height: 70%
}

.press col, btn {
  height: 100%;
}
.vertical-align {
  display: flex;
  align-items: center;
}

.btn-block {
  border-width: 5px;
  border-color: white;
  height:100%;
}