html, body {
  height:100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: calc(1.5vh + 1vw);
}

.cover {
  height: 100%;
  background-color:#5D6170
}

.title {
  height: 10%;
  display: flex;
  align-items:center;
  font-size: 1.2em;
}
.display {
  height: 10%;
  font-size: 1.2em;
  background-color: #4C87B8;
}

.press {
  height: 80%;
  font-size: 1em;
}

.press .col{
  height: 100%;
}
.press .btn {
  height: 100%;
  border-width: 1px;
  border-color: white;
  border-radius: 0;
}
.vertical-align {
  display: flex;
  align-items: center
}